@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #171717;
    color: white;
}
.container-full {
    width: 100%;
    margin:0 auto;
}
.container {
    width: 85%;
    margin:0 auto;
}
.row {
    position: relative;
    width: 100%;
}
.row [ class^="column-"]
{float: left;
}
.row ::after{
    content: "";
    display: table;
    clear: both;
}
[ class^="column-"]{
    width: 100%;
}

.column-100 {
    width: 100%;
}
.column-50 {
    width: 50%;
}
.column-33 {
    width: 33%;
}
p {
    font-weight: 300;
}

/* Top header */

.bg {
    background-color: #a8f403;
    width: 100%;
    height: 100vh;
    border-radius: 0 0 50px 50px;
}

.topheader .column-50 img {
    padding: 10px 0;
    width: 14%; 
}
.topheader .column-50 .nav a {
    text-decoration: none;
    padding: 15px 30px;
    color: black;
    font-size: 24px;
    font-weight: 500;
}
.topheader .column-50 .nav {
    display: flex; 
    justify-content: end;
}
.topheader .column-50 .dropdown {
    position: relative;
    display: none;
}
.topheader .column-50 .dropdown button img {
    width: 50%;
}
.topheader .column-50 .dropdown button{ 
    background: none; 
    border: none;
    outline: none;
}
.topheader .column-50 .dropdown .btns {
    display: none;
    position: absolute;
    left: 10%;
    top: 10%;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
}
.topheader .column-50 .dropdown .btns a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;  
} 
/* HERO SECTION */

.hero {
    float: left;
    margin: 30px 0;
}
.hero .main {
    padding: 10% 10%;
    color: black;
}
.hero .main h1 {
    font-size: 90px;
    padding-bottom: 10px;
}
.hero .main p {
    font-size: 30px;
}
.hero .main button {
    padding: 10px 30px;
    background: none;
    border-color: black;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
}
.hero .main button a {
    text-decoration: none;
    color: black;
}
.hero .img{
    display: flex;
    justify-content: center;
}
.hero .img img {
    width: 100%;
}

/* ABOUT */

.about {
    margin: 30px 0;
} 

/* PROJECTS */

.projects {
    float: left;
     margin: 30px 0;
}
.projects h2 {
    padding: 30px 0;
}
.projects .card img{ 
    width: 95%;
    border-radius: 30px;
    padding: 10px;
}
.projects .card h3 , .projects .card p {
    padding: 10px 0;
}
.projects .card .img{
    display: flex;
    justify-content: end;
}
.projects .card .img img {
    width: 50px;
}
/* .projects .popup{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: start;
    overflow-y: scroll;
    z-index: 999; 
    padding: 30px 0; 
}
.projects .popup img {
    width: 80%; 
    height: auto;
}
.projects .popup:target {
    display: flex;
}
.projects .popup .close {
    position: fixed;
    inset: 0;
}
body:has(.popup:target) {
  overflow: hidden;
}
.popup {
  scroll-behavior: smooth;
}  */

/* SKILLS */
 
.skills {
    float: left;
    margin: 30px 0;
} 
.skills h2 {
    padding: 30px 0;
} 
.skills .logos img {
    width: 30%;
    padding: 50px;
}

/* contact */

.contact {
    float: left;
    width: 100%;
    margin: 30px 0;
} 
.contact input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background: none;
    border-radius: 10px;
    border-color: white;
}
.contact .i3 {
    padding-bottom: 50px;
}
.contact h2 {
    padding: 10px 0;
}
.contact button {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #a8f403;
    color: black;
}

/* FOOTER */

footer {
     margin: 30px 0 0 0 ;
    background-color: #a8f403;
    color: black;
    border-radius: 50px 50px 0 0; 
    float: left;
    width: 100%;
} 
footer .column-100 img {
    width: 10%;
    padding: 10px 0;
}
footer .column-50 a {
    text-decoration: none;
    color: black; 
}
footer .column-50 h3 {
    padding: 10px 0;
}

/* media query */

@media (max-width:800px) {
    .column-50{
        width: 100%;
    }
    .column-33{
        width: 50%;
    }
    .topheader .column-50 .nav {
        display: none;
    }
    .topheader .column-50{
        width: 50%;
    }
    .topheader .column-50 .dropdown {
        display: flex;
        justify-content: end;
    }
    .topheader .column-50 img { 
         width: 30%;
    }
    .about .column-50 h2 { 
        display: none;
    }
    .about .column-50 p { 
        font-size: 18px;
    }
}
 
